$theme-color=#446084//主题色

opacity-color($opacity)
  background rgba(255, 255, 255, $opacity)

background-image(link)
  background-image url(link)
  background-size cover
  background-repeat no-repeat
  background-position 50%
position-center()
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  margin auto
flex-center()
  display flex
  align-items center
  justify-content center
flex-ver-center()
  display flex
  flex-direction column
  justify-content center
flex-col-center()
  display flex
  align-items center

